<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
    <body>
        <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Staff</a></li>
            <li><a href="#">Storage</a></li>
            <li><a href="#">Settings</a></li>
        </ul>

        <br>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

        <br>

        <p th:text="${company.getId()}">VALUE</p>
        <p th:text="${company.getName()}">VALUE</p>
        <p th:text="${company.getPhoneNumber()}">VALUE</p>
        <p th:text="${company.getEmail()}">VALUE</p>
        <p th:text="${company.getAddressMainOffice()}">VALUE</p>
        <p th:text="${company.getDescription()}"></p>
    </body>
</html>